@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
 	--green: #83e1d0;
 	--red: #ef7b54;
 	--background: #f8f1e9;
 	--gradient-1: #343e63;
 	--gradient-2: #2a3352;
 }

html {
	font-size : 8px;
	font-weight: 200%;
}

body {
	width: 90vw;
	font-family: 'Press Start 2P', sans-serif;
	margin: 0 auto;
	background: radial-gradient(var(--gradient-1), var(--gradient-2));
}

main {
	text-align: center;
	background: var(--background);
	border: solid var(--red);
	border-width: 0 8px 8px 8px;
	min-height: 80vh;
	border-radius: 0 0 3rem 3rem;
	padding: 5rem;
	color: #1f2933;
}

img {
	width: 50%;
	height: 30%;
	padding-top: 30px;
}
h2 {
	font-size: 2.2rem;
	margin: 8rem 0;
	line-height: 3.5rem;
}

p{
	font-size: 1.8rem;
}

.button-wrapper {
	diplay: flex;
	flex-direction: column;
}

button{
	transition: 0.4s ease-in-out;
	color: #000000;
	border: 3px solid #343e63;
	text-align: center;
	font-family: "Press Start 2P", sans-serif;
	cursor: pointer;
	background: #ffff99;
	padding: 2rem;
	outline: none;
	border-radius: 1rem 1rem 0 0;
}

button:hover{
	color: black;
	background-color:  #ffb366;
}

button:last-child {
	border-radius: 0 0 1rem 1rem;
}

/* game screen */

h3{
	font-size: 2rem;
}

input{
	border: 1px solid lightgray;
	background: transparent;
	margin: 2rem 0;
	padding: 1rem 0;
	width: 16rem;
	text-align: center;
}

#range {
	display: flex;
	line-height: 5rem;
	background: var(--green);
	height: 50px;
	padding: 0;
	margin: 0 0 4rem 0;
}

#rangeOutput {
	font-size: 1.6rem;
}

#stats {
	text-align: left;
}

#info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info span {
	font-size: 1.6rem;
	line-height: 4.5rem;

}

.flash {
	animation: flash 1s infinite;
}

@keyframes flash {
	0% {
		opacity: 1;

	} 
	50% {
		opacity: 0.5;

	}
	100% {
		opacity: 1;
	}
}
#newGameButton{
	border-radius: 0;
}

@media (min-width: 900px) {
	body {
		width:  60vw;
	}
}